@import 'core-x/src/sass/abstracts/all';

.products-list {
  list-style-type: none;
  padding: 0;

  & > li  {
    border-bottom: 1px solid theme('light-gray', 'border-color');
    padding: ($co-box-gutter * $co-gold * 2) 0;
  }
}