@use 'sass:color';
@use 'material';



.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: material.$co-ly-topnav-index;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 material.getBoxSize('rg');
  height: material.$co-ly-topnav-height;
  background-color: var(--co-topnav-background-color);
  border-bottom: var(--co-box-border-solid-thin);
}


.nav__content {
  flex-grow: 2;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: material.getBoxSize('rg');

  @media screen and (max-width: material.$co-topnav-breakpoint) {
    display: none;
  }
}


:host ::ng-deep .nav__content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

:host ::ng-deep .nav__content ul:first-child {
  justify-content: flex-start;

  & > li {
    margin-right: material.getBoxSize('rg');
  }
}

:host ::ng-deep .nav__content ul:last-child {
  justify-content: flex-end;

  & > li {
    margin-left: material.getBoxSize('rg');
  }
}

.nav__toggle {
  display: none;
  @media screen and (max-width: material.$co-topnav-breakpoint) {
    display: block;
  }
}


.nav__content.active {
  @media screen and (max-width: material.$co-topnav-breakpoint) {
    display: block;
    position: fixed;
    top: material.$co-ly-topnav-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: material.$co-ly-topnav-index;
    padding: 0;
    background-color: material.getMix('flat', 'background-color-alpha');
  }
}

:host ::ng-deep .nav__content.active ul {
  @media screen and (max-width: material.$co-topnav-breakpoint) {
    display: block;
  }
}
:host ::ng-deep .nav__content.active ul > li {
  @media screen and (max-width: material.$co-topnav-breakpoint) {
    padding: 0 material.getBoxSize('rg');
    margin: material.getBoxSize('rg') 0;
  }
}
