* { box-sizing: border-box; }

html { font-size: 100%; }

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

p { margin: 0; }

a,
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.material-icons { vertical-align: middle; }

a,
input,
button {
  & > .material-icons {
    pointer-events: none;
  }
}

section,
article,
header {
  display: block;
}

table {
  text-align: left;
  border-collapse: collapse;
}

ul {
  margin: 0;
  padding: 0;
  & > li { margin: 0 0 $co-box-padding-y 0; }
}