body {
  font-family: sans-serif;
  font-size: $co-font-size-rg;
  line-height: $co-line-height-rg;
  font-weight: $co-font-weight-regular;
  color: theme('white', 'color');
  background-color: theme('white', 'background-color');
}

.title, 
.strong {
  @include TypeStrong;
}

.title,
.text {
  margin: 0 0 $co-gutter 0;
}

.link {
  text-decoration: none;
  &:hover { text-decoration: none; }
}


// sizes
@each $name, $size in $co-font-sizes {
  .#{$name} {
    font-size: $size;
    line-height: map-get($co-line-heights, $name);
  }
}

// colors & backgrounds
@each $name, $color in $co-colors {
  .#{$name}-color { color: $color; }
  .#{$name}-bkg { background-color: $color; }
}

// themes
@each $name, $map in $co-themes {
  .#{$name}-theme {
    color: map-get($map, 'color');
    background-color: map-get($map, 'background-color');
  }

  .#{$name}-theme-alpha {
    color: map-get($map, 'color');
    background-color: map-get($map, 'background-color-alpha');
  }
}


.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
.cap { text-transform: capitalize; }
.it { font-style: italic; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.line-through { text-decoration: line-through; }