@if(calculate$ | async; as calculate) {

<article class="summary">
  <div class="summary__col">
    <span class="summary__amount">{{totalCalories | number: '1.2' }}</span>
    <span class="summary__label">Calories</span>
  </div>
  <div class="summary__col">
    <span class="summary__amount">{{totalProteins | number: '1.2' }}</span>
    <span class="summary__label">Proteins</span>
  </div>
  <div class="summary__col">
    <span class="summary__amount">{{items.length}}</span>
    <span class="summary__label">items</span>
  </div>
</article>

@if(items.length) {
  <ul class="list">
    @for (item of items; track item._id) {
    <li>
      <div class="list__main">
        <span>{{item.title}}</span>
        <span>
          <!-- <core-control 
            id="ctrl-{{item._id}}" 
            [control]="c.control" /> -->
        </span>
        <span>{{item.fact.calories | number: '1.2'}} c</span>
        <span>{{item.fact.protein | number: '1.2'}} p</span>
      </div>
      <div class="list__secondary">
        <core-btn 
          mix="flat" 
          [squared]="true" 
          icon="close" 
          (click)="onRemoveItem(item)"/>
      </div>
    </li>
    }
  </ul>
}
}
