@use "sass:math";

.box-rounded {
  border-radius: $co-box-border-radius;
}

.box-circle {
  @include BoxCircle(1em);
  display: inline-block;
}

.box-inline {
  display: inline-block;
}

.box-mg-t {
  margin-top: $co-box-gutter;
  &-sm { margin-top: math.div($co-box-gutter, $co-gold); }
  &-md { margin-top: $co-box-gutter * $co-gold; }
  &-lg { margin-top: $co-box-gutter * $co-gold * 2; }
  &-xl { margin-top: $co-box-gutter * $co-gold * 3; }
  &-xxl { margin-top: $co-box-gutter * $co-gold * 4; }
}

.box-mg-r {
  margin-right: $co-box-gutter;
  &-sm { margin-right: math.div($co-box-gutter, $co-gold); }
  &-md { margin-right: $co-box-gutter * $co-gold; }
  &-lg { margin-right: $co-box-gutter * $co-gold * 2; }
  &-xl { margin-right: $co-box-gutter * $co-gold * 3; }
  &-xxl { margin-right: $co-box-gutter * $co-gold * 4; }
}

.box-mg-b {
  margin-bottom: $co-box-gutter;
  &-sm { margin-bottom: math.div($co-box-gutter, $co-gold); }
  &-md { margin-bottom: $co-box-gutter * $co-gold; }
  &-lg { margin-bottom: $co-box-gutter * $co-gold * 2; }
  &-xl { margin-bottom: $co-box-gutter * $co-gold * 3; }
  &-xxl { margin-bottom: $co-box-gutter * $co-gold * 4; }
}

.box-mg-l {
  margin-left: $co-box-gutter;
  &-sm { margin-left: math.div($co-box-gutter, $co-gold); }
  &-md { margin-left: $co-box-gutter * $co-gold; }
  &-lg { margin-left: $co-box-gutter * $co-gold * 2; }
  &-xl { margin-left: $co-box-gutter * $co-gold * 3; }
  &-xxl { margin-left: $co-box-gutter * $co-gold * 4; }
}

.box-mg-stack {
  @extend .box-mg-t;
  @extend .box-mg-b;

  &-sm {
    @extend .box-mg-t-sm;
    @extend .box-mg-b-sm;
  }

  &-md {
    @extend .box-mg-t-md;
    @extend .box-mg-b-md;
  }

  &-lg {
    @extend .box-mg-t-lg;
    @extend .box-mg-b-lg;
  }

  &-xl {
    @extend .box-mg-t-xl;
    @extend .box-mg-b-xl;
  }

  &-xxl {
    @extend .box-mg-t-xxl;
    @extend .box-mg-b-xxl;
  }
}

.box-mg-col {
  @extend .box-mg-l;
  @extend .box-mg-r;

  &-sm {
    @extend .box-mg-l-sm;
    @extend .box-mg-r-sm;
  }

  &-md {
    @extend .box-mg-l-md;
    @extend .box-mg-r-md;
  }

  &-lg {
    @extend .box-mg-l-lg;
    @extend .box-mg-r-lg;
  }

  &-xl {
    @extend .box-mg-l-xl;
    @extend .box-mg-r-xl;
  }

  &-xxl {
    @extend .box-mg-l-xxl;
    @extend .box-mg-r-xxl;
  }
}

.box-mg {
  @extend .box-mg-stack;
  @extend .box-mg-col;

  &-sm {
    @extend .box-mg-stack-sm;
    @extend .box-mg-col-sm;
  }

  &-md {
    @extend .box-mg-stack-md;
    @extend .box-mg-col-md;
  }

  &-lg {
    @extend .box-mg-stack-lg;
    @extend .box-mg-col-lg;
  }

  &-xl {
    @extend .box-mg-stack-xl;
    @extend .box-mg-col-xl;
  }

  &-xxl {
    @extend .box-mg-stack-xxl;
    @extend .box-mg-col-xxl;
  }
}

.box-pd-t {
  padding-top: $co-box-gutter;
  &-sm { padding-top: math.div($co-box-gutter, $co-gold); }
  &-md { padding-top: $co-box-gutter * $co-gold; }
  &-lg { padding-top: $co-box-gutter * $co-gold * 2; }
  &-xl { padding-top: $co-box-gutter * $co-gold * 3; }
  &-xxl { padding-top: $co-box-gutter * $co-gold * 4; }
}

.box-pd-r {
  padding-right: $co-box-gutter;
  &-sm { padding-right: math.div($co-box-gutter, $co-gold); }
  &-md { padding-right: $co-box-gutter * $co-gold; }
  &-lg { padding-right: $co-box-gutter * $co-gold * 2; }
  &-xl { padding-right: $co-box-gutter * $co-gold * 3; }
  &-xxl { padding-right: $co-box-gutter * $co-gold * 4; }
}

.box-pd-b {
  padding-bottom: $co-box-gutter;
  &-sm { padding-bottom: math.div($co-box-gutter, $co-gold); }
  &-md { padding-bottom: $co-box-gutter * $co-gold; }
  &-lg { padding-bottom: $co-box-gutter * $co-gold * 2; }
  &-xl { padding-bottom: $co-box-gutter * $co-gold * 3; }
  &-xxl { padding-bottom: $co-box-gutter * $co-gold * 4; }
}

.box-pd-l {
  padding-left: $co-box-gutter;
  &-sm { padding-left: math.div($co-box-gutter, $co-gold); }
  &-md { padding-left: $co-box-gutter * $co-gold; }
  &-lg { padding-left: $co-box-gutter * $co-gold * 2; }
  &-xl { padding-left: $co-box-gutter * $co-gold * 3; }
  &-xxl { padding-left: $co-box-gutter * $co-gold * 4; }
}

.box-pd-stack {
  @extend .box-pd-t;
  @extend .box-pd-b;

  &-sm {
    @extend .box-pd-t-sm;
    @extend .box-pd-b-sm;
  }

  &-md {
    @extend .box-pd-t-md;
    @extend .box-pd-b-md;
  }

  &-lg {
    @extend .box-pd-t-lg;
    @extend .box-pd-b-lg;
  }

  &-xl {
    @extend .box-pd-t-xl;
    @extend .box-pd-b-xl;
  }

  &-xxl {
    @extend .box-pd-t-xxl;
    @extend .box-pd-b-xxl;
  }
}

.box-pd-col {
  @extend .box-pd-l;
  @extend .box-pd-r;

  &-sm {
    @extend .box-pd-l-sm;
    @extend .box-pd-r-sm;
  }

  &-md {
    @extend .box-pd-l-md;
    @extend .box-pd-r-md;
  }

  &-lg {
    @extend .box-pd-l-lg;
    @extend .box-pd-r-lg;
  }

  &-xl {
    @extend .box-pd-l-xl;
    @extend .box-pd-r-xl;
  }

  &-xxl {
    @extend .box-pd-l-xxl;
    @extend .box-pd-r-xxl;
  }
}

.box-pd {
  @extend .box-pd-stack;
  @extend .box-pd-col;

  &-sm {
    @extend .box-pd-stack-sm;
    @extend .box-pd-col-sm;
  }

  &-md {
    @extend .box-pd-stack-md;
    @extend .box-pd-col-md;
  }

  &-lg {
    @extend .box-pd-stack-lg;
    @extend .box-pd-col-lg;
  }

  &-xl {
    @extend .box-pd-stack-xl;
    @extend .box-pd-col-xl;
  }

  &-xxl {
    @extend .box-pd-stack-xxl;
    @extend .box-pd-col-xxl;
  }
}


.pd-t {
  padding-top: $co-box-padding-y;
  &-sm { padding-top: math.div($co-box-padding-y, $co-gold); }
  &-md { padding-top: $co-box-padding-y * $co-gold; }
  &-lg { padding-top: $co-box-padding-y * $co-gold * 2; }
  &-xl { padding-top: $co-box-padding-y * $co-gold * 3; }
  &-xxl { padding-top: $co-box-padding-y * $co-gold * 4; }
}

.pd-r {
  padding-right: $co-box-padding-x;
  &-sm { padding-right: math.div($co-box-padding-x, $co-gold); }
  &-md { padding-right: $co-box-padding-x * $co-gold; }
  &-lg { padding-right: $co-box-padding-x * $co-gold * 2; }
  &-xl { padding-right: $co-box-padding-x * $co-gold * 3; }
  &-xxl { padding-right: $co-box-padding-x * $co-gold * 4; }
}

.pd-b {
  padding-bottom: $co-box-padding-y;
  &-sm { padding-bottom: math.div($co-box-padding-y, $co-gold); }
  &-md { padding-bottom: $co-box-padding-y * $co-gold; }
  &-lg { padding-bottom: $co-box-padding-y * $co-gold * 2; }
  &-xl { padding-bottom: $co-box-padding-y * $co-gold * 3; }
  &-xxl { padding-bottom: $co-box-padding-y * $co-gold * 4; }
}

.pd-l {
  padding-left: $co-box-padding-x;
  &-sm { padding-left: math.div($co-box-padding-x, $co-gold); }
  &-md { padding-left: $co-box-padding-x * $co-gold; }
  &-lg { padding-left: $co-box-padding-x * $co-gold * 2; }
  &-xl { padding-left: $co-box-padding-x * $co-gold * 3; }
  &-xxl { padding-left: $co-box-padding-x * $co-gold * 4; }
}

.pd-stack {
  @extend .pd-t;
  @extend .pd-b;

  &-sm {
    @extend .pd-t-sm;
    @extend .pd-b-sm;
  }

  &-md {
    @extend .pd-t-md;
    @extend .pd-b-md;
  }

  &-lg {
    @extend .pd-t-lg;
    @extend .pd-b-lg;
  }

  &-xl {
    @extend .pd-t-xl;
    @extend .pd-b-xl;
  }

  &-xxl {
    @extend .pd-t-xxl;
    @extend .pd-b-xxl;
  }
}

.pd-col {
  @extend .pd-l;
  @extend .pd-r;

  &-sm {
    @extend .pd-l-sm;
    @extend .pd-r-sm;
  }

  &-md {
    @extend .pd-l-md;
    @extend .pd-r-md;
  }

  &-lg {
    @extend .pd-l-lg;
    @extend .pd-r-lg;
  }

  &-xl {
    @extend .pd-l-xl;
    @extend .pd-r-xl;
  }

  &-xxl {
    @extend .pd-l-xxl;
    @extend .pd-r-xxl;
  }
}

.pd {
  @extend .pd-stack;
  @extend .pd-col;

  &-sm {
    @extend .pd-stack-sm;
    @extend .pd-col-sm;
  }

  &-md {
    @extend .pd-stack-md;
    @extend .pd-col-md;
  }

  &-lg {
    @extend .pd-stack-lg;
    @extend .pd-col-lg;
  }

  &-xl {
    @extend .pd-stack-xl;
    @extend .pd-col-xl;
  }

  &-xxl {
    @extend .pd-stack-xxl;
    @extend .pd-col-xxl;
  }
}