%Flex {
  display: flex;
  flex-flow: row nowrap;
}

.flex-align-center {
  @extend %Flex;
  align-items: center;
}

.flex-align-baseline {
  @extend %Flex;
  align-items: baseline;
}

.flex-justify-start {
  @extend %Flex;
  justify-content: flex-start;
}

.flex-justify-between {
  @extend %Flex;
  justify-content: space-between;
}

.flex-justify-around {
  @extend %Flex;
  justify-content: space-around;
}

.flex-justify-end {
  @extend %Flex;
  justify-content: flex-end;
}