// ---------------------------------------------------------------------------------------------- //
// -- BOX -- //
// ---------------------------------------------------------------------------------------------- //

@mixin BoxCircle($size) {
  width: $size;
  height: $size;
  border-radius: $size;
}

// ---------------------------------------------------------------------------------------------- //
// -- TYPOGRAPHY -- //
// ---------------------------------------------------------------------------------------------- //

@mixin TypeTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin TypeStrong {
  color: $co-color-black;
  font-weight: map-get($co-font-weights, 'bold');
}



// ---------------------------------------------------------------------------------------------- //
// -- ANIMATIONS -- //
// ---------------------------------------------------------------------------------------------- //

@mixin BackgroundHoverTransition($duration, $easeType) {
  transition-property: background-color;
  transition-duration: $duration;
  transition-timing-function: $easeType;
}



// ---------------------------------------------------------------------------------------------- //
// -- COLORS -- //
// ---------------------------------------------------------------------------------------------- //

@mixin ThemeMix($name, $bordered: false) {
  color: theme($name, 'color');
  background-color: theme($name, 'background-color');

  @if $bordered {
    border: $co-box-border-size solid theme($name, 'background-color-hover');
  } @else {
    border: $co-box-border-size solid theme($name, 'background-color');
  }
}

@mixin ThemeMixAlpha($name, $bordered: false) {
  color: theme($name, 'color');
  background-color: theme($name, 'background-color-alpha');

  @if $bordered {
    border: $co-box-border-size solid theme($name, 'background-color-hover');
  } @else {
    border: $co-box-border-size solid theme($name, 'background-color');
  }
}

@mixin ThemeMixInteractive($name, $bordered: false) {
  text-decoration: none;

  &:hover,
  &:focus {
    color: theme($name, 'color');
    background-color: theme($name, 'background-color-hover');
    outline: none;
    border: $co-box-border-size solid theme($name, 'background-color-hover');
  }

  &.is--disabled,
  &[disabled] {
    color: theme($name, 'color-disabled');

    &:hover,
    &:focus {
      cursor: not-allowed;
      color: theme($name, 'color-disabled');
      background-color: theme($name, 'background-color');
      outline: none;
      border: $co-box-border-size solid theme($name, 'background-color');
    }
  }
}
