<div class="container">
  <article class="box-pd">
    <header>
      <h1 class="title md">Products</h1>
    </header>
    
    <div *ngIf="(status$ |  async) === 'INPROGRESS'; then loadingBlock else contentBlock"></div>
    <!-- Loading -->
    <ng-template #loadingBlock>
      <div class="align-center">
        <app-material-spinner></app-material-spinner>
      </div>      
    </ng-template>
    <!-- Content -->
    <ng-template #contentBlock>
      <!-- Error -->
      <section *ngIf="error$ |  async as error" class="box-mg-stack">
        <app-material-message
          status="error" 
          [text]="error"
          icon="check_circle">
        </app-material-message>
      </section>
      <!-- Products -->
      <app-products-list 
        *ngIf="products$ | async as products"
        [products]="products">
      </app-products-list>
    </ng-template>
  </article>
</div>



