@use 'material';

.message {
  display: inline-flex;
  padding: material.getBoxSize('sm');
  border-radius: material.$co-box-border-radius;

  &__icon {
    margin-right: material.getBoxSize('sm');
  }

  &__label {
    margin-bottom: 0;
  }
}