@use "sass:math";
@import 'abstracts/all';


%List {
  display: inline-block;
  padding: 0;

  & > li {
    margin: $co-box-padding-y 0;
    padding: 0;
  }
}


.list {
  @extend %List;
  list-style-type: none;
}


.bordered-list {
  @extend .list;

  & > li {
    border-bottom: $co-box-border-size solid theme('light-gray', 'border-color');
    &:last-child { border-bottom: unset; }
  }
}


.dotted-list {
  @extend %List;
  list-style-type: disc;
  padding: 0 0 0 1rem;
}


.numbered-list {
  @extend %List;
  padding: 0 0 0 2rem;
  list-style-type: decimal-leading-zero;
}