@import 'abstracts/all';


.modal {
  display: none;
  position: fixed;
  z-index: map-get($co-layout-index, 'modals');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.is--active {
    display: block;
  }
}
