@import 'abstracts/all';


.table {
  & > thead > tr {
    border-bottom: 1px solid $co-color-gray-6;
  }

  & > thead > tr > th {
    @include TypeStrong;
    padding: 0.4rem 1rem 0.1rem 0.2rem;
  }

  & > tbody > tr {
    border-bottom: 1px solid $co-color-gray-2;
    &:last-child { border-bottom: none; }
  }

  & > tbody > tr > td {
    padding: 0.4rem 1rem 0.2rem 0.2rem;
  }

  &.is--striped {
    & > tbody > tr:nth-child(odd) {
      color: theme('light-gray', 'color');
      background-color: theme('light-gray', 'background-color');
    }
  }
}