<div class="container">
  <div class="row">
    <div class="col-6 col-offset-3">
      <article class="box-pd">
        <header>
          <h1 class="title md">Login</h1>
        </header>

        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

          <!-- Email -->
          <div class="form__group">
            <label for="email" class="label">Email</label>
            <input 
              class="input"
              id="email" 
              type="email"
              aria-describedby="email-help"
              placeholder="name@domain"
              [formControl]="email" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <small id="email-help" class="sm error-color">
                <div *ngIf="email.errors?.['required']" class="box-mg-stack-sm">
                  El email de usuario es requerido.
                </div>
                <div *ngIf="email.errors?.['email']" class="box-mg-stack-sm">
                  Formato inválido.
                </div>
                <div *ngIf="email.errors?.['maxlength']" class="box-mg-stack-sm">
                  El email no debe tener mas de {{ emailMaxLength }} carácteres.
                </div>
              </small>
            </div>
          </div>

          <!-- Password -->
          <div class="form__group">
            <label for="password" class="label">Password</label>
            <input 
              class="input"
              id="password" 
              type="password"
              placeholder="your password"
              aria-describedby="password-help" 
              [formControl]="password" />
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <small id="password-help" class="sm error-color">
                <div *ngIf="password.errors?.['required']" class="box-mg-stack-sm">
                  Password is required.
                </div>
                <div *ngIf="password.errors?.['minlength']" class="box-mg-stack-sm">
                  Password must be more than {{ passwordMinLength }} characters long.
                </div>
                <div *ngIf="password.errors?.['maxlength']" class="box-mg-stack-sm">
                  Password must be less than {{ passwordMaxLength }} characters long.
                </div>
              </small>
            </div>
          </div>
          
          <!-- Loading & Error & Submit -->
          <div class="box-mg-stack">
            <div class="align-center" *ngIf="(loginStatus$ |  async) === IN_PROGRESS">
              <app-material-spinner></app-material-spinner>
            </div>
            <app-material-message 
              *ngIf="loginError$ | async"
              [text]="(loginError$ | async) || 'Error login user'" 
              status="error" 
              [block]="true">
            </app-material-message>
          </div>

          <!-- Submit -->
          <div class="form__submit">
            <app-material-button text="login" type="submit" (click)="onSubmit()"></app-material-button>
          </div>
        </form>
        
      </article>
    </div>
  </div>
</div>





