<div class="fluid-container box-mg-t-xl box-pd-rg">
  <div class="row">
    <div class="col-6 col-offset-3">
      <section>
        <header>
          <h1 class="title md">Login</h1>
        </header>

        <form>
          <div class="box-mg-stack-rg">
            <app-mat-control [control]="email" id="email" type="email" label="Email" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-color">
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['email']">Email format wrong.</div>
            </div>
          </div>
          <div class="box-mg-stack-rg">
            <app-mat-control [control]="password" [showHide]="true" id="password" type="password" label="Password"/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-color">
              <div *ngIf="password.errors?.['required']">Password is required.</div>
              <div *ngIf="password.errors?.['minlength']">Password should be at least {{PASSWORD_MIN_LEN}} length.</div>
            </div>
          </div>
          <div class="box-mg-t-md">
            <div class="flex-align-center flex-justify-start">
              <app-mat-btn 
                theme="flat"
                class="box-mg-r-md" 
                label="Login" [disabled]="form.invalid" 
                (click)="onFormSubmit()"/>
              @if(loading) {
                <app-mat-loading />
              }
            </div>
            @if(!loading && error) {
              <div class="box-mg-t-rg error-color">{{error}}</div>
            }
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
