<form>
  <div class="box-mg-stack-md">
    <app-mat-control [control]="email" id="email" type="email" label="Email" />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-color">
      <div *ngIf="email.errors?.['required']">Email is required.</div>
      <div *ngIf="email.errors?.['email']">Email format wrong.</div>
    </div>
  </div>
  <div class="box-mg-stack-md">
    <app-mat-control [control]="password" id="password" type="password" label="Password"/>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-color">
      <div *ngIf="password.errors?.['required']">Password is required.</div>
      <div *ngIf="password.errors?.['minlength']">Password should be at least {{PASSWORD_MIN_LEN}} length.</div>
    </div>
  </div>
  <div class="box-mg-t-xl">
    <div class="box-mg-stack-rg">
      @if(loading) {
        <app-mat-loading />
      }
      @if(!loading && error) {
        <div class="error-color">{{error}}</div>
      }
    </div>
    <app-mat-btn label="Login" (click)="onFormSubmit()"/>
  </div>
</form>