@import 'abstracts/all';


%Button {
  display: inline-block;
  min-width: 6rem;
  text-align: center;
  padding: $co-box-padding-y $co-box-padding-x;
  border-radius: $co-box-border-radius;
  border: none;
  background-image: none;
  outline: none;
  cursor: pointer;
  transition: 
    background-color $co-box-transition-duration ease-out, 
    border-color $co-box-transition-duration ease-out;
  
  &:hover,
  &:focus {
    outline: none;
    transition: 
      background-color $co-box-transition-duration ease-in, 
      border-color $co-box-transition-duration ease-in;
  }

  &.is--disabled,
  &[disabled] {
    outline: none;

    &:hover,
    &:focus {
      cursor: not-allowed;
      outline: none;
    }
  }

  &.is--square {
    min-width: unset;
    padding: 0.15rem;
  }

  &.is--block {
    width: 100%;
    display: block;
  }

  &.has--only-icon {
    min-width: unset;
    padding: 0;
  }

  & > span + .material-icons {
    margin-left: $co-box-padding-x;
  }

  & > .material-icons + span {
    margin-left: $co-box-padding-x;
  }
}


@each $name, $map in $co-themes {

  .#{$name}-btn {
    @extend %Button;
    color: theme($name, 'color');
    background-color: theme($name, 'background-color');


    &:hover,
    &:focus {
      color: theme($name, 'color-hover');
      background-color: theme($name, 'background-color-hover');
    }

    &.is--disabled,
    &[disabled] {
      color: theme($name, 'color-disabled');
      background-color: theme($name, 'background-color-disabled');

      &:hover,
      &:focus {
        color: theme($name, 'color-disabled');
        background-color: theme($name, 'background-color-disabled');
      }
    }
  }
}