<article #modal class="modal">
  <div class="modal-wrapper">

    <header class="modal__header box-pd-sm">
      <h2 class="title md">{{title}}</h2>
      <core-btn icon="close" [squared]="true" (click)="onClose()" mix="flat"/>
    </header>

    <div class="modal-content box-pd-x-rg">
      Hello
    </div>

    <div class="flex-align-center flex-justify-end box-pd-sm">
      <div class="box-mg-r-rg">
        <core-btn [label]="secondaryBtn.label" mix="flat" (click)="secondaryBtn.action()" />
      </div>
      <core-btn [label]="primaryBtn.label" mix="primary" (click)="primaryBtn.action()" />
    </div>
  </div>
</article>