@function getFontSize($size) {
  $val: map-get($type-font-sizes, $size);
  @return $val;
}

@function getLineHeight($size) {
  $val: map-get($type-line-heights, $size);
  @return $val;
}

@function getFontWeight($weight) {
  $val: map-get($type-font-weights, $weight);
  @return $val;
}

@function getColor($color) {
  $val: map-get($colors, $color);
  @return $val;
}

@function getBoxSize($size) {
  $val: map-get($box-sizes, $size);
  @return $val;
}

@function getThemeProp($theme, $prop) {
  $_theme: map-get($themes, $theme);
  $_prop: map-get($_theme, $prop);
  @return $_prop;
}