@use './vars';
@use './functions';

@mixin BodyType {
  font-family: 'Roboto', sans-serif;
  color: var(--co-type-body-color);
  font-weight: vars.$co-type-font-weight-regular;
}

@mixin TitleType() {
  color: var(--co-type-title-color);
  font-weight: vars.$co-type-font-weight-bold;
}

@mixin ColorMix($mix, $bordered: false) {
  @if $bordered {
    border: vars.$co-box-border-width solid functions.getMix($mix, 'background-color-hover');
  } @else {
    border: vars.$co-box-border-width solid functions.getMix($mix, 'background-color');
  }
  color: functions.getMix($mix, 'color');
  background-color: functions.getMix($mix, 'background-color');
}

@mixin ColorMixInteractive($mix, $bordered: false) {
  @include ColorMix($mix, $bordered);
  &:hover,
  &:focus {
    border: vars.$co-box-border-width solid functions.getMix($mix, 'background-color-hover');
    background-color: functions.getMix($mix, 'background-color-hover');
    transition: all vars.$co-transitions-time ease;
    outline: none;
  }
  &[disabled],
  &.disabled {
    opacity: 0.5;
    background-color: functions.getMix($mix, 'background-color');
    border: vars.$co-box-border-width solid functions.getMix($mix, 'background-color');
  }
}

@mixin ColorMixInvisible() {
  border: vars.$co-box-border-width solid var(--co-type-body-background-color);
  color: functions.getMix('flat', 'color');
  background-color: var(--co-type-body-background-color);
}


@mixin ColorMixInvisibleInteractive() {
  @include ColorMixInvisible();
  &:hover,
  &:focus {
    border: vars.$co-box-border-width solid var(--co-type-body-background-color);
    background-color: functions.getMix('flat', 'background-color-hover');
    transition: all vars.$co-transitions-time ease;
    outline: none;
  }
  &[disabled],
  &.disabled {
    opacity: 0.5;
    background-color: functions.getMix('flat', 'background-color');
    border: vars.$co-box-border-width solid functions.getMix('flat', 'background-color');
  }
}

@mixin ColorMixOnlyInteractive($mix, $bordered: false) {
  &:hover,
  &:focus {
    border: vars.$co-box-border-width solid functions.getMix($mix, 'background-color-hover');
    background-color: functions.getMix($mix, 'background-color-hover');
    transition: all vars.$co-transitions-time ease;
    outline: none;
  }
  &[disabled],
  &.disabled {
    opacity: 0.5;
    background-color: functions.getMix($mix, 'background-color');
    border: vars.$co-box-border-width solid functions.getMix($mix, 'background-color');
  }
}