@mixin FontFamilyLight() {
  font-family: "Roboto", sans-serif;
  font-weight: getFontWeight('light');
  font-style: normal;
}

@mixin FontFamilyRegular() {
  font-family: "Roboto", sans-serif;
  font-weight: getFontWeight('regular');
  font-style: normal;
}

@mixin FontFamilyBold() {
  font-family: "Roboto", sans-serif;
  font-weight: getFontWeight('bold');
  font-style: normal;
}

@mixin Title {
  @include FontFamilyBold();
  color: var(--theme-title-color);
}

@mixin TextSpacing {
  margin: 0 0 getBoxSize('rg') 0;
}

@mixin ThemeMix($theme) {
  border: none;
  color: getThemeProp($theme, 'color');
  background-color: getThemeProp($theme, 'background-color');
}

@mixin ThemeMixInteractive($theme) {
  @include ThemeMix($theme);
  &:hover,
  &:focus {
    border: none;
    outline: none;
    background-color: getThemeProp($theme, 'background-color-hover');
    transition: all $box-animation-time ease-out;
  }
}