@use 'material';

.filters__wrapper {
  border-bottom: var(--border-solid-thin);
  margin: material.getSize('xxl') 0;
  padding: material.getSize('sm') 0;
}

.filters {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  &__main,
  &__secondary {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__main {
    justify-content: flex-start;
  }

  &__secondary {
    justify-content: flex-end;
  }
}