@import 'abstracts/all';

$co-topnav-height: map-get($co-layout-dimensions, 'topnav-height');
$co-topnav-brand-height: 40px;
$co-topnav-brand-width: 40px;
$co-topnav-breakpoint: 768px;
$co-topnav-link-icon-size: 24px; // prefered icon size


.topnav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: $co-topnav-height;
  z-index: map-get($co-layout-index, 'topnav');
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: $co-box-padding-x;
  padding-right: $co-box-padding-x;
}


.topnav__brand {
  display: inline-flex;
  margin-right: $co-box-padding-x;
  width: $co-topnav-brand-width;
  height: $co-topnav-brand-height;

  & > img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}


.topnav__content {
  display: inline-flex;
  flex-grow: 1;

  @media ( max-width: $co-topnav-breakpoint ) {
    display: none;
  }
}

.topnav__content.is--active {

  @media ( max-width: $co-topnav-breakpoint ) {
    display: block;
    position: fixed;
    top: $co-topnav-height;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $co-box-padding-x;
    background-color: theme('light-gray', 'background-color-alpha');
  }
}


.topnav__content-main,
.topnav__content-secondary {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;

  @media ( max-width: $co-topnav-breakpoint ) {
    display: block;
    position: relative;
    margin: 0 0 $co-box-padding-x 0;
  }
}

.topnav__content-main {
  justify-content: flex-start;

  @media ( max-width: $co-topnav-breakpoint ) {
    margin-bottom: $co-box-padding-x;
  }
}

.topnav__content-secondary {
  justify-content: flex-end;
}


.topnav__list {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media ( max-width: $co-topnav-breakpoint ) {
    display: block;
  }
}


.topnav__content-main > .topnav__list {
  & > li {
    margin: 0 $co-box-padding-x 0 0;
  }
}

.topnav__content-secondary > .topnav__list {
  & > li {
    margin: 0 $co-box-padding-x 0 0;
  }
}

.topnav__content-main > .topnav__list,
.topnav__content-secondary > .topnav__list {
  & > li {
    @media ( max-width: $co-topnav-breakpoint ) {
      margin: 0 0 $co-box-padding-x 0;
    }
  }
}


.topnav__link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  & > .material-icons {
    font-size: $co-topnav-link-icon-size;
  }

  & > .material-icons,
  & > span {
    vertical-align: middle;
  }

  & > .material-icons + span {
    margin-left: 0.35em;
  }
}


.topnav__toggler {
  display: none!important;

  @media ( max-width: $co-topnav-breakpoint ) {
    display: inline-block!important;
  }
}