<div class="container">
  <div class="row">
    <div class="col-6 col-offset-3">
      <div class="box-pd">
        <div *ngIf="(status$ |  async) === 'INPROGRESS'; then loadingBlock else contentBlock"></div>
        <!-- Loading -->
        <ng-template #loadingBlock>
          <div class="align-center">
            <app-material-spinner></app-material-spinner>
          </div>
        </ng-template>
        <!-- Content -->
        <ng-template #contentBlock>
          <!-- Error -->
          <section *ngIf="error$ |  async as error" class="box-mg-stack-sm">
            <app-material-message
              status="error" 
              [text]="error"
              icon="check_circle">
            </app-material-message>
          </section>

          <article *ngIf="product$ | async as product">
            <header>
              <h1 class="title md">{{product.title}}</h1>
              <a routerLink="/products" class="primary-color">
                <i class="material-icons">arrow_back</i>
                <span>Products</span>
              </a>
            </header>
            <div class="light-gray-theme box-pd-sm box-mg-stack sm">
              <p>Category: {{product.category}}</p>
              <p>Brand: {{product.brand}}</p>
              <p>{{product.description}}</p>
            </div>
            <ul class="bordered-list">
              <li>
                <div class="flex-align-center flex-justify-start">
                  <p class="box-mg-right-sm">Price</p>
                  <span class="black-color">$ </span>
                  <span class="md black-color"> {{product.price}}</span>
                </div>
              </li>
              <li>
                <div class="flex-align-center flex-justify-start">
                  <p class="box-mg-right-sm">Discount Percentage</p>
                  <span class="black-color">% </span>
                  <span class="md black-color"> {{product.discountPercentage}}</span>
                </div>
              </li>
              <li>
                <div class="flex-align-center flex-justify-start">
                  <p class="box-mg-right-sm">Rating</p>
                  <span class="md black-color">{{product.rating}}</span>
                </div>
              </li>
            </ul>
          </article>
        </ng-template>
      </div>
    </div>
  </div>
</div>