<app-mat-topnav>
  <ul main>
    <li>
      <a class="link" routerLink="/">Inicio</a>
    </li>
  </ul>
  <ul secondary>
    @if(token) {
      <li>
        <a class="link" routerLink="/auth/profile" data-id="profile-link">{{user?.email}}</a>
      </li>
      <li>
        <app-mat-btn theme="flat" (click)="onLogout()" label="Logout" data-id="logout-btn"/>
      </li>
    } @else {
      <li>
        <a class="link" routerLink="/auth/login" data-id="login-link">Login</a>
      </li>
    }
    <li>
      <app-mat-btn theme="flat" (click)="onToggleTheme()" [squared]="true" icon="light_mode" data-id="theme-toggler-btn"/>
    </li>
  </ul>
</app-mat-topnav>

<div class="app">
  <div class="app__content">
    <router-outlet />
  </div>
  <div class="app__footer">
    <app-core-footer />
  </div>
</div>
