@use 'material';

.summary-list {
  padding: 0;

  & > li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: material.getSize('xs');
    margin-bottom: material.getSize('xs');
  }

  &__main,
  &__secondary {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__main {
    justify-content: flex-start;
    & > div {
      margin-right: material.getSize('rg');
    }
  }

  &__secondary {
    justify-content: flex-end;
  }
}