@import 'abstracts/all';


.section {
  margin: ($co-gutter * $co-gold * 3) 0;
  & > .header {
    border-bottom: $co-box-border-size solid theme('white', 'border-color');
    margin-bottom: $co-gutter;
    padding-bottom: $co-box-padding-y;

    & > .title {
      margin: 0;
      padding: 0;
    }
  }
}
