@use "sass:math";

.mg-t {
  margin-top: $co-gutter;
  &-sm { margin-top: math.div($co-gutter, $co-gold); }
  &-md { margin-top: $co-gutter * $co-gold; }
  &-lg { margin-top: $co-gutter * $co-gold * 2; }
  &-xl { margin-top: $co-gutter * $co-gold * 3; }
  &-xxl { margin-top: $co-gutter * $co-gold * 4; }
}

.mg-r {
  margin-right: $co-gutter;
  &-sm { margin-right: math.div($co-gutter, $co-gold); }
  &-md { margin-right: $co-gutter * $co-gold; }
  &-lg { margin-right: $co-gutter * $co-gold * 2; }
  &-xl { margin-right: $co-gutter * $co-gold * 3; }
  &-xxl { margin-right: $co-gutter * $co-gold * 4; }
}

.mg-b {
  margin-bottom: $co-gutter;
  &-sm { margin-bottom: math.div($co-gutter, $co-gold); }
  &-md { margin-bottom: $co-gutter * $co-gold; }
  &-lg { margin-bottom: $co-gutter * $co-gold * 2; }
  &-xl { margin-bottom: $co-gutter * $co-gold * 3; }
  &-xxl { margin-bottom: $co-gutter * $co-gold * 4; }
}

.mg-l {
  margin-left: $co-gutter;
  &-sm { margin-left: math.div($co-gutter, $co-gold); }
  &-md { margin-left: $co-gutter * $co-gold; }
  &-lg { margin-left: $co-gutter * $co-gold * 2; }
  &-xl { margin-left: $co-gutter * $co-gold * 3; }
  &-xxl { margin-left: $co-gutter * $co-gold * 4; }
}

.mg-stack {
  @extend .mg-t;
  @extend .mg-b;

  &-sm {
    @extend .mg-t-sm;
    @extend .mg-b-sm;
  }

  &-md {
    @extend .mg-t-md;
    @extend .mg-b-md;
  }

  &-lg {
    @extend .mg-t-lg;
    @extend .mg-b-lg;
  }

  &-xl {
    @extend .mg-t-xl;
    @extend .mg-b-xl;
  }

  &-xxl {
    @extend .mg-t-xxl;
    @extend .mg-b-xxl;
  }
}

.mg-col {
  @extend .mg-l;
  @extend .mg-r;

  &-sm {
    @extend .mg-l-sm;
    @extend .mg-r-sm;
  }

  &-md {
    @extend .mg-l-md;
    @extend .mg-r-md;
  }

  &-lg {
    @extend .mg-l-lg;
    @extend .mg-r-lg;
  }

  &-xl {
    @extend .mg-l-xl;
    @extend .mg-r-xl;
  }

  &-xxl {
    @extend .mg-l-xxl;
    @extend .mg-r-xxl;
  }
}

.mg {
  @extend .mg-stack;
  @extend .mg-col;

  &-sm {
    @extend .mg-stack-sm;
    @extend .mg-col-sm;
  }

  &-md {
    @extend .mg-stack-md;
    @extend .mg-col-md;
  }

  &-lg {
    @extend .mg-stack-lg;
    @extend .mg-col-lg;
  }

  &-xl {
    @extend .mg-stack-xl;
    @extend .mg-col-xl;
  }

  &-xxl {
    @extend .mg-stack-xxl;
    @extend .mg-col-xxl;
  }
}

.pd-t {
  padding-top: $co-gutter;
  &-sm { padding-top: math.div($co-gutter, $co-gold); }
  &-md { padding-top: $co-gutter * $co-gold; }
  &-lg { padding-top: $co-gutter * $co-gold * 2; }
  &-xl { padding-top: $co-gutter * $co-gold * 3; }
  &-xxl { padding-top: $co-gutter * $co-gold * 4; }
}

.pd-r {
  padding-right: $co-gutter;
  &-sm { padding-right: math.div($co-gutter, $co-gold); }
  &-md { padding-right: $co-gutter * $co-gold; }
  &-lg { padding-right: $co-gutter * $co-gold * 2; }
  &-xl { padding-right: $co-gutter * $co-gold * 3; }
  &-xxl { padding-right: $co-gutter * $co-gold * 4; }
}

.pd-b {
  padding-bottom: $co-gutter;
  &-sm { padding-bottom: math.div($co-gutter, $co-gold); }
  &-md { padding-bottom: $co-gutter * $co-gold; }
  &-lg { padding-bottom: $co-gutter * $co-gold * 2; }
  &-xl { padding-bottom: $co-gutter * $co-gold * 3; }
  &-xxl { padding-bottom: $co-gutter * $co-gold * 4; }
}

.pd-l {
  padding-left: $co-gutter;
  &-sm { padding-left: math.div($co-gutter, $co-gold); }
  &-md { padding-left: $co-gutter * $co-gold; }
  &-lg { padding-left: $co-gutter * $co-gold * 2; }
  &-xl { padding-left: $co-gutter * $co-gold * 3; }
  &-xxl { padding-left: $co-gutter * $co-gold * 4; }
}

.pd-stack {
  @extend .pd-t;
  @extend .pd-b;

  &-sm {
    @extend .pd-t-sm;
    @extend .pd-b-sm;
  }

  &-md {
    @extend .pd-t-md;
    @extend .pd-b-md;
  }

  &-lg {
    @extend .pd-t-lg;
    @extend .pd-b-lg;
  }

  &-xl {
    @extend .pd-t-xl;
    @extend .pd-b-xl;
  }

  &-xxl {
    @extend .pd-t-xxl;
    @extend .pd-b-xxl;
  }
}

.pd-col {
  @extend .pd-l;
  @extend .pd-r;

  &-sm {
    @extend .pd-l-sm;
    @extend .pd-r-sm;
  }

  &-md {
    @extend .pd-l-md;
    @extend .pd-r-md;
  }

  &-lg {
    @extend .pd-l-lg;
    @extend .pd-r-lg;
  }

  &-xl {
    @extend .pd-l-xl;
    @extend .pd-r-xl;
  }

  &-xxl {
    @extend .pd-l-xxl;
    @extend .pd-r-xxl;
  }
}

.pd {
  @extend .pd-stack;
  @extend .pd-col;

  &-sm {
    @extend .pd-stack-sm;
    @extend .pd-col-sm;
  }

  &-md {
    @extend .pd-stack-md;
    @extend .pd-col-md;
  }

  &-lg {
    @extend .pd-stack-lg;
    @extend .pd-col-lg;
  }

  &-xl {
    @extend .pd-stack-xl;
    @extend .pd-col-xl;
  }

  &-xxl {
    @extend .pd-stack-xxl;
    @extend .pd-col-xxl;
  }
}