@use 'material';

.section-landing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  &__content {
    margin-top: material.getSize('xxl',4) * -1;
  }
}