<div 
  class="select__wrapper" 
  [class.floatlabel]="floatLabel">

  @if (label) {
    <label [for]="id" class="select__label">{{label}}</label>
  }

  <div class="select__input-wrapper">
    <select
      class="select__input-{{controlStyle}} {{size}}" 
      [class.block]="block"
      [id]="id" 
      [name]="id" 
      [formControl]="control">
      @for(option of options; track option.value) {
        <option [value]="option.value" [disabled]="option.disabled">{{option.label}}</option>
      }
    </select>
  </div>

</div>

@if(control.invalid &&(control.dirty || control.touched)) {
  <div class="error-color sm mg-t-sm">
    @if(control.errors?.['required']) {
      <div class="box-mg-b-sm">{{messages['required']}}</div>
    }
    @if(control.errors?.['email']) {
      <div class="box-mg-b-sm">{{messages['email']}}</div>
    }
    @if(control.errors?.['minlength']) {
      <div class="box-mg-b-sm">{{messages['minlength']}}</div>
    }
    @if(control.errors?.['maxlength']) {
      <div class="box-mg-b-sm">{{messages['maxlength']}}</div>
    }
  </div>
}
