@use 'material';


.control__wrapper {
  display: flex;
  flex-flow: column nowrap;

  &.floatlabel {
    flex-flow: row nowrap;
    align-items: center;

    & > .control__label {
      margin: 0 material.getSize('rg') 0 0;
    }
  }
}


.control__label {
  margin: 0 0 material.getSize('sm') 0;
}

.control__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%ControlInput {
  display: inline-block;
  width: 100%;
  min-width: material.$box-min-width;
  max-width: material.$box-max-width;
  padding: material.getSize('sm') material.getSize('rg');
  border-radius: material.$box-border-radius;
}

.control__input-flat {
  @extend %ControlInput;
  @include material.ColorMixInteractive('flat');
  &.block {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}

.control__input-invisible {
  @extend %ControlInput;
  @include material.ColorMixInvisibleInteractive();
}

.control__input-icon {
  margin-left: -2rem;
  margin-right: 0.7rem;
}