@import '../abstracts/all';


body {
  @include FontFamilyRegular();
  font-size: getFontSize('rg');
  line-height: getLineHeight('rg');
  color: var(--theme-body-color);
  background-color: var(--theme-body-background-color);
}

h1, h2, h3, h4, h5, h6,
.title {
  @include Title;
}

p,
h1, h2, h3, h4, h5, h6,
.title,
.txt {
  @include TextSpacing;
}


@each $color, $value in $colors {

  $_color: getColor($color);

  .#{$color}-color { color: $_color }
  .#{$color}-bkg {  background-color: $_color }
}


@each $size, $value in $type-font-sizes {

  .#{$size} { 
    font-size: getFontSize($size);

    &.title, &.txt { line-height: getLineHeight($size); }
  }
}


a,
.link {
  color: var(--theme-link-color);
  text-decoration: none;
  &:hover, &:focus { outline: none; }
  &:focus {
    text-decoration: underline;
  }
}


.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.regular { font-weight: getFontWeight('regular'); }
.bold { font-weight: getFontWeight('bold'); }
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}