[data-theme="dark"] {
  --theme-body-color: var(--color-white);
  --theme-body-background-color: var(--color-grey-8);
  --theme-mix-flat-color: var(--color-white);
  --theme-mix-flat-background-color: var(--color-grey-7);
  --theme-mix-flat-background-color-hover: var(--color-grey-9);
}
