[data-theme="light"] {
  --theme-body-color: var(--color-grey-7);
  --theme-body-background-color: var(--color-white);
  --theme-mix-flat-color: var(--color-black);
  --theme-mix-flat-background-color: var(--color-grey-1);
  --theme-mix-flat-background-color-hover: var(--color-grey-2);
}
