<article class="box-mg-stack">
  <header>
    <h2 class="title md cap">
      <a 
        class="link primary-color" 
        [routerLink]="['/products', product.id]">
        {{ product.title }}
      </a>
    </h2>
  </header>
  <div class="box-mg-stack-sm">
    <p class="sm ">{{product.description}}</p>
  </div>
  <div class="box-mg-stack-sm flex-align-center flex-justify-start">
    <p class="box-mg-right-sm">Price</p>
    <span class="black-color">$ </span>
    <span class="md black-color">{{product.price}}</span>
  </div>
  <app-material-button 
    theme="secondary" 
    label="Delete"
    icon="close"
    (click)="onDelete(product.id)">
  </app-material-button>
  <div *ngIf="(status$ | async) === 'INPROGRESS'">
    <app-material-loading text="deleting product"></app-material-loading>
  </div>
</article>
