@use 'material';




.demo-article {
  margin-bottom: material.getBoxSize('xxl');

  &__header {
    display: inline-block;
    border-bottom: var(--co-box-border-solid-tick);
    margin-bottom: material.getBoxSize('md');

    & > .title { margin-bottom: 0; }
  }
}

.demo-subarticle {
  margin-bottom: material.getBoxSize('md');

  &__header {
    border-bottom: var(--co-box-border-solid-thin);
    margin-bottom: material.getBoxSize('md');

    & > .title { margin-bottom: 0; }
  }
}

%SwatchLabel {
    font-size: material.$co-type-font-size-sm;
    text-transform: uppercase;
    opacity: 0.5;
}

.swatch {
  margin-bottom: material.getBoxSize('md');

  &__item {
    display: inline-block;
    border-bottom: var(--co-box-border-dotted);
    padding-bottom: material.getBoxSize('sm');
  }

  &__label {
    @extend %SwatchLabel;
  }
}


.swatch-flex {
  margin-bottom: material.getBoxSize('md');
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-start;

  &__item {
    margin-right: material.getBoxSize('md');
    margin-bottom: material.getBoxSize('sm');
  }

  &__label {
    @extend %SwatchLabel;
    margin-top: material.getBoxSize('sm');
    border-top: var(--co-box-border-dotted);
    width: 100%;
  }
}