<div class="container box-pd">
  <section class="section">
    <header class="section__header box-mg-b-xl">
      <h1 class="title lg">{{title}}</h1>
    </header>

    <!-- Titles -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Titles</h2>
      </header>
      @for (size of sizes; track size) {
        <div class="swatch">
          <div class="swatch__item">
            <div class="title {{size}} box-inline" style="line-height: 1.2; margin-bottom: 0;">
              The Quick Brown Fox
            </div>
          </div>
          <div class="swatch__label">{{size}}</div>
        </div>
      }
    </article>

    <!-- Mixin -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Mixins</h2>
      </header>
      <div class="swatch-flex">
        @for (mix of mixins; track mix) {  
          <div class="swatch-flex__item">
            <div class="{{mix}}-mix" style="border-radius: 100%; width: 3rem;height: 3rem;text-align: center;line-height: 3rem; vertical-align: middle;">Y</div>
            <div class="swatch-flex__label">{{mix}}</div>
          </div>
        }
      </div>
    </article>

    <!-- Buttons -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Buttons</h2>
      </header>

      <!-- Buttons / Disabled -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Disabled</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of mixins; track mix) {
            <div class="swatch-flex__item">
              <core-btn [label]="mix" [mix]="mix" [disabled]="true"/>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Buttons / Icons -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Icons</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of mixins; track mix) {
            <div class="swatch-flex__item">
              <core-btn [label]="mix" [mix]="mix" icon="settings"/>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Buttons / Squared -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Squared</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of mixins; track mix) {
            <div class="swatch-flex__item">
              <core-btn [mix]="mix" icon="settings" [squared]="true"/>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Buttons / Sizes -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Sizes</h2>
        </header>
        <div class="swatch-flex">
          @for (size of sizes; track size) {
            <div class="swatch-flex__item">
              <core-btn mix="flat" icon="settings" [squared]="true" [size]="size"/>
              <div class="swatch-flex__label">{{size}}</div>
            </div>
          }
        </div>
      </article>
    </article>

    <!-- Brand -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Brand</h2>
      </header>

      <!-- Brand / Mixins -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Mixins</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of brandMixins; track mix) {
            <div class="swatch-flex__item">
              <core-brand [mix]="mix"/>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Brand / Sizes -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Sizes</h2>
        </header>
        <div class="swatch-flex">
          @for (size of sizes; track size) {
            <div class="swatch-flex__item">
              <core-brand mix="flat" [size]="size"/>
              <div class="swatch-flex__label">{{size}}</div>
            </div>
          }
        </div>
      </article>
    </article>

    <!-- Controls -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Controls</h2>
      </header>

      <!-- Controls / Labels -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Labels</h2>
        </header>
        <div class="box-mg-b-rg">
          <core-control id="control1" [control]="control1" placeholder="No Label"/>
        </div>
        <div class="box-mg-b-rg">
          <core-control id="control1" [control]="control1" label="Some Label"/>
        </div>
        <div class="box-mg-b-rg">
          <core-control id="control1" [control]="control1" label="Float Label" [floatLabel]="true" />
        </div>
      </article>

      <!-- Controls / Sizes -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Sizes</h2>
        </header>
        @for (size of sizes; track size) {
          <div class="swatch">
            <div class="swatch__item">
              <core-control id="control1" [control]="control1" [size]="size"/>
            </div>
            <div class="swatch__label">{{size}}</div>
          </div>
        }
      </article>

      <!-- Controls / Icons -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Show/Hide password</h2>
        </header>
        <div class="swatch">
          <div class="swatch__item">
            <core-control id="control2" type="password" [control]="control2" [showHide]="true" />
          </div>
          <div class="swatch__label">Show/Hide password</div>
        </div>
      </article>

      <!-- Controls / Style -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Invisble</h2>
        </header>
        <div>
          <core-control id="control3" [control]="control3" controlStyle="invisible" />
        </div>
      </article>
    </article>

    <!-- Loading -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Loading</h2>
      </header>

      <!-- Loading / Default -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Default</h2>
        </header>
        <div>
            <core-loading />
        </div>
      </article>

      <!-- Loading / Label -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Label</h2>
        </header>
        <div>
          <core-loading label="please wait..."/>
        </div>
      </article>
    </article>

    <!-- Message -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Messages</h2>
      </header>

      <!-- Message / Mixins -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Mixins</h2>
        </header>
        <div>
          <div class="swatch-flex">
            @for (mix of mixins; track mix) {  
              <div class="swatch-flex__item">
                <core-message [mix]="mix" label="Some message" />
                <div class="swatch-flex__label">{{mix}}</div>
              </div>
            }
          </div>
        </div>
      </article>

      <!-- Message / Icons -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Icons</h2>
        </header>
        <div>
          <div class="swatch-flex box-mg-b-md">
            @for (mix of mixins; track mix) {  
              <div class="swatch-flex__item">
                <core-message [mix]="mix" label="One line message" icon="settings"/>
                <div class="swatch-flex__label">{{mix}}</div>
              </div>
            }
          </div>
          <div class="swatch-flex">
            @for (mix of mixins; track mix) {  
              <div class="swatch-flex__item">
                <core-message [mix]="mix" label="One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin." icon="settings"/>
                <div class="swatch-flex__label">{{mix}}</div>
              </div>
            }
          </div>
        </div>
      </article>

      <!-- Message / Sizes -->
      <article class="demo-subarticle">
        <header class="demo-subarticle__header">
          <h2 class="title rg">Sizes</h2>
        </header>
        <div>
            @for (size of sizes; track size) {  
            <div class="swatch">
              <div class="swatch__item">
                <core-message [size]="size" mix="warning" label="Some message" icon="warning" />
              </div>
              <div class="swatch__label">{{size}}</div>
            </div>
            }
        </div>
      </article>
    </article>

    <!-- Table -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Table</h2>
      </header>
      <core-table 
        [headers]="tableHeaders"
        [data]="tableData"
        [columns]="tableColumns"
        (rowClicked)="onRowClicked($event)"/>
    </article>

    <!-- grid -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Grid</h2>
      </header>
      <div class="row box-mg-b-rg">
        <div class="col-4"><div class="flat-mix box-rounded box-pd-sm">col-4</div></div>
        <div class="col-4"><div class="flat-mix box-rounded box-pd-sm">col-4</div></div>
        <div class="col-4"><div class="flat-mix box-rounded box-pd-sm">col-4</div></div>
      </div>
      <div class="row box-mg-b-rg">
        <div class="col-4"><div class="flat-mix box-rounded box-pd-sm">col-4</div></div>
        <div class="col-4 col-offset-4"><div class="flat-mix box-rounded box-pd-sm">col-offset-4</div></div>
      </div>
      <div class="reverse-row box-mg-b-rg">
        <div class="col-4"><div class="flat-mix box-rounded box-pd-sm">col-4 reverse row</div></div>
        <div class="col-8"><div class="flat-mix box-rounded box-pd-sm">col-8 reverse row</div></div>
      </div>
    </article>

    <!-- Modal -->
    <article class="demo-article">
      <header class="demo-article__header">
        <h2 class="title md">Modal</h2>
      </header>
      <div>
        <core-btn label="open modal" (click)="onOpenModal()"/>
      </div>
    </article>
  </section>
</div>