<div class="container pd-rg">

  <section class="section">
    <header>
      <h1 class="title lg">{{title}}</h1>
    </header>

    <!-- Titles -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Titles</h2>
      </header>
      <div class="swatch">
        @for (size of sizes; track size) {
          <div class="swatch__container">
            <div class="swatch__item">
              <div class="title {{size}} box-inline" style="line-height: 1.2; margin-bottom: 0;">
                The Quick Brown Fox
              </div>
            </div>
            <div class="swatch__label">{{size}}</div>
          </div>
        }
      </div>
    </article>

    <!-- Mixin -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Mixins</h2>
      </header>
      <div class="swatch-flex">
        @for (mix of mixins; track mix) {
          <div class="swatch-flex__container">
            <div class="swatch-flex__item">
              <div class="{{mix}}-mix demo-box"></div>
            </div>
            <div class="swatch-flex__label">{{mix}}</div>
          </div>
        }
      </div>
    </article>

    <!-- Buttons -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Buttons</h2>
      </header>

      <!-- Buttons / Mixins -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Mixins</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of mixins; track mix) {
            <div class="swatch-flex__container">
              <div class="swatch-flex__item">
                <core-btn [label]="mix" [mix]="mix" />
              </div>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Buttons / Disabled -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Disabled</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of mixins; track mix) {
            <div class="swatch-flex__container">
              <div class="swatch-flex__item">
                <core-btn [label]="mix" [mix]="mix" [disabled]="true"/>
              </div>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Buttons / Icons -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Icons</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of mixins; track mix) {
            <div class="swatch-flex__container">
              <div class="swatch-flex__item">
                <core-btn [label]="mix" [mix]="mix" icon="settings"/>
              </div>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Buttons / Squared -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Squared</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of mixins; track mix) {
            <div class="swatch-flex__container">
              <div class="swatch-flex__item">
                <core-btn [mix]="mix" icon="settings" [squared]="true"/>
              </div>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Buttons / Sizes -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Sizes</h2>
        </header>
        <div class="swatch-flex">
          @for (size of sizes; track size) {
            <div class="swatch-flex__container">
              <div class="swatch-flex__item">
                <core-btn mix="flat" icon="settings" [squared]="true" [size]="size"/>
              </div>
              <div class="swatch-flex__label">{{size}}</div>
            </div>
          }
        </div>
      </article>
    </article>

    <!-- Brand -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Brand</h2>
      </header>

      <!-- Brand / Mixins -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Mixins</h2>
        </header>
        <div class="swatch-flex">
          @for (mix of brandMixins; track mix) {
            <div class="swatch-flex__container">
              <div class="swatch-flex__item">
                <core-brand [mix]="mix"/>
              </div>
              <div class="swatch-flex__label">{{mix}}</div>
            </div>
          }
        </div>
      </article>

      <!-- Brand / Sizes -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Sizes</h2>
        </header>
        <div class="swatch-flex">
          @for (size of sizes; track size) {
            <div class="swatch-flex__container">
              <div class="swatch-flex__item">
                <core-brand mix="flat" [size]="size"/>
              </div>
              <div class="swatch-flex__label">{{size}}</div>
            </div>
          }
        </div>
      </article>
    </article>

    <!-- Select -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Select</h2>
      </header>

      <!-- Select / Required -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Required / Label</h2>
        </header>
        <core-select 
          id="select-control"
          label="Categories"
          [control]="selectControlRequired" 
          [options]="selectOptions" 
          [validationMessages]="{
            required: 'Please select a category'
          }"
        />
      </article>

      <!-- Select / Not Required -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Not Required / Float Label</h2>
        </header>
        <core-select 
          id="select-control"
          label="Categories"
          [floatLabel]="true"
          [control]="selectControlNotRequired" 
          [options]="selectOptions"
        />
      </article>
    </article>

    <!-- Controls -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Controls</h2>
      </header>

      <!-- Controls / Labels & Placeholders -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Labels & Placeholders</h2>
        </header>
        <div class="mg-b-rg">
          <core-control 
            id="control1" 
            label="control1"
            [control]="control1" 
            placeholder="Control 1"/>
        </div>
        <div class="mg-b-rg">
          <core-control 
            id="control2" 
            label="control2"
            [floatLabel]="true"
            [control]="control2" 
            placeholder="Control 2"/>
        </div>
      </article>

      <!-- Controls / Validations -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Validations</h2>
        </header>
        <div class="mg-b-rg">
          <core-control 
            id="control-required" 
            label="Required"
            [control]="controlRequired" 
            placeholder="Control required"
            [validationMessages]="{ required: 'This field is required'}"/>
        </div>
        <div class="mg-b-rg">
          <core-control 
            id="control-email" 
            label="Email"
            type="email"
            [control]="controlEmail" 
            placeholder="Control email"
            [validationMessages]="{ email: 'The email format is invalid'}"/>
        </div>
        <div class="mg-b-rg">
          <core-control 
            id="control-password" 
            label="Password"
            type="password"
            [showHide]="true"
            [control]="controlPassword" 
            placeholder="Control email"
            [validationMessages]="{ 
              minlength: 'The password should have mora than 6 characters',
              maxlength: 'The password should have less than 8 characters',
            }"/>
        </div>
      </article>


      <!-- Controls / Disabled -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Disabled</h2>
        </header>
        <div class="mg-b-rg">
          <core-control 
            id="control-disabled" 
            type="email"
            label="Control disabled"
            [control]="controlDisabled" 
            placeholder="Control disabled"/>
        </div>
      </article>





      <!-- Controls / Sizes -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Sizes</h2>
        </header>
        @for (size of sizes.slice(0,3); track size) {
          <div class="swatch">
            <div class="swatch__item">
              <core-control id="control-{{size}}" [control]="controlSize" [size]="size"/>
            </div>
            <div class="swatch__label">{{size}}</div>
          </div>
        }
      </article>

      <!-- Controls / Style -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Invisble</h2>
        </header>
        <div>
          <core-control 
            id="control-invisible" 
            [control]="controlInvisible" 
            controlStyle="invisible" 
            placeholder="Invisible"/>
        </div>
      </article>
    </article>

    <!-- Loading -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Loading</h2>
      </header>
      <div>
        <core-loading label="loading..." />
      </div>
    </article>

    <!-- Message -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Messages</h2>
      </header>

      <!-- Message / Mixins -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Mixins</h2>
        </header>
        <div>
          <div class="swatch-flex">
            @for (mix of mixins; track mix) {  
              <div class="swatch-flex__container">
                <div class="swatch-flex__item">
                  <core-message [mix]="mix" label="Some message" />
                </div>
                <div class="swatch-flex__label">{{mix}}</div>
              </div>
            }
          </div>
        </div>
      </article>

      <!-- Message / Icons -->
      <article class="demo-subarticle">
        <header>
          <h2 class="title rg">Icons</h2>
        </header>
        <div>
          <div class="swatch-flex mg-b-md">
            @for (mix of mixins; track mix) {  
              <div class="swatch-flex__container">
                <div class="swatch-flex__item">
                  <core-message [mix]="mix" label="One line message" icon="settings"/>
                </div>
                <div class="swatch-flex__label">{{mix}}</div>
              </div>
            }
          </div>
          <div class="swatch-flex">
            @for (mix of mixins; track mix) {
              <div class="swatch-flex__container">
                <div class="swatch-flex__item">
                  <core-message [mix]="mix" label="One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin." icon="settings"/>
                </div>
                <div class="swatch-flex__label">{{mix}}</div>
              </div>
            }
          </div>
        </div>
      </article>
    </article>

    <!-- Table -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Table</h2>
      </header>
      <div class="swatch-flex">
        @for (size of sizes.slice(3,7); track size) {
          <div class="swatch-flex__container">
          <div class="swatch-flex__item">
            <core-table 
              [headers]="tableHeaders"
              [data]="tableData"
              [columns]="tableColumns"
              [size]="size"
              (rowClicked)="onRowClicked($event)"/>
          </div>
          <div class="swatch-flex__label">{{size}}</div>
          </div>
        }
      </div>
    </article>

    <!-- grid -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Grid</h2>
      </header>
      <div class="row mg-b-rg">
        <div class="col-4"><div class="flat-mix rounded pd-sm">col-4</div></div>
        <div class="col-4"><div class="flat-mix rounded pd-sm">col-4</div></div>
        <div class="col-4"><div class="flat-mix rounded pd-sm">col-4</div></div>
      </div>
      <div class="row mg-b-rg">
        <div class="col-4"><div class="flat-mix rounded pd-sm">col-4</div></div>
        <div class="col-4 col-offset-4"><div class="flat-mix rounded pd-sm">col-offset-4</div></div>
      </div>
      <div class="reverse-row mg-b-rg">
        <div class="col-4"><div class="flat-mix rounded pd-sm">col-4 reverse row</div></div>
        <div class="col-8"><div class="flat-mix rounded pd-sm">col-8 reverse row</div></div>
      </div>
    </article>

    <!-- Modal -->
    <article class="demo-article">
      <header>
        <h2 class="title md">Modal</h2>
      </header>
      <div>
        <core-btn label="open modal" (click)="onOpenModal()"/>
      </div>
    </article>

  </section>
</div>