<article class="filters box-mg-b-rg box-pd-rg flat-mix">
  <!-- Category Filter -->
  <div class="filter">
    <div class="filter__label">Categories</div>
    @if(categories) {
      <div class="filter__content">
        <select [formControl]="selectedCategory">
          <option disabled value="">Select Category</option>
          @for(category of categoriesOptions; track category.value) {
            <option [value]="category.value">{{category.label}}</option>
          }
        </select>
      </div>
    } @else {
      <div class="filter__no-content">No categories to display</div>
    }
  </div>
</article>