@use 'material';

.filters {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

.filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  &__label {
    margin-right: material.getBoxSize('sm');
  }
}