<nav class="topnav">
  <div class="topnav__brand">
    <co-brand />
  </div>

  <div class="topnav__content" [ngClass]="{ 'topnav__content--toggled': toggled }">
    <ul class="topnav__main-list">
      <li>
        <a class="topnav__link" routerLink="">Inicio</a>
      </li>
      <li>
        <a class="topnav__link" routerLink="/products">Products</a>
      </li>
    </ul>
    <ul class="topnav__secondary-list">
      @if (user$ | async; as user) {
        <li>
          <a class="topnav__link" routerLink="/auth/profile">
            <span>{{user.email}}</span>
            <i class="material-icons">account_circle</i>
          </a>
        </li>
        <li>
          <co-button label="Logout" (click)="onLogout()"/>
        </li>
      } @else {
        <li>
          <a class="topnav__link" routerLink="/auth/login">
            <span>Login</span>
            <i class="material-icons">account_circle</i>
          </a>
        </li>
      }
      <li>
        <co-button theme="flat" [squared]="true" icon="settings" (click)="onSettings()"/>
      </li>
      <li>
        <co-button theme="flat" [squared]="true" icon="dark_mode" (click)="onToggleTheme()"/>
      </li>
    </ul>
  </div>

  <div class="topnav__toggler">
    <co-button theme="flat" [icon]="icon" [squared]="true" (click)="onToggle()"/>
  </div>
</nav>

<co-modal id="modal-a">
  <div class="container">
    <section>
      <header>
        <h1 class="title lg">Settings</h1>
      </header>
    </section>
  </div>
</co-modal>
